@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,500&family=Nunito+Sans:wght@300;600;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif, 'Nunito Sans', sans-serif;
}

body{
    background: hsl(210, 30%, 30%);
}
.container{
    width: 1140px;
    padding: 0px 15px;
    margin: auto;
}

.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(219, 39%, 5%);
}

.header h3{
    color: white;
    display: flex;
    align-items: center;
    font-style: 1.3rem;
}

.country_bottom{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}


.country_card{
    width: 250px;
    border-radius: 5px;
    background: hsl(209, 23%, 2%);
    color: white;
}

.country_img img{
    width: 40%;
    border-radius: 5px;
}

.all_country_container{
    margin-top: 100px;
}


.country_data{
    padding: 20px;
}

.country_data h3{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

.country_data h6{
    margin-bottom: 10px;
    font-weight: 400;
    opacity: 80%;
}

.country_bottom h4{
    color: white;
    text-align: center;
    margin-top: 15px;
}

input{
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    border: none;
    background: hsl(210, 30%, 0%);
    outline: none;
    margin-bottom: 30px;
    cursor: pointer;
}

::placeholder{
    color: white;
}
.country_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


select{
    padding: 10px 25px;
    background: hsl(210, 30%, 0%);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 13px;
}